
html, body {
  height: 100%;
  width: 100%;
}
.circle {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}
.line1 {
  position: absolute;
  top: 200px;
  background: black;
  height: 1px;
  width: 280px;
  transition: all 1a ease-in-out;
}
.line2 {
  position: absolute;
  top: 200px;
  right: 22px;
  background: black;
  height: 1px;
  width: 280px;
  transition: all 1a ease-in-out;
}